body {
    font-family: "Arial";
    background-color: white;
    padding: 0;
    margin: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

button {
    outline: none;
}


/* прозрачный фон */

.background {
    position: relative;
}

.background:hover {
    background-color: transparent;
}

.background:hover::before {
    width: 100%;
    height: 100%;
    content: "";
    background-color: black;
    opacity: 0.3;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}

.background:hover::after {
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.5;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    border: 2px solid black;
    box-sizing: border-box;
}

/* */


.card-container {
    width: 500px;
    height: 530px;
    background-color: green;
    margin: 3% auto;    
    box-sizing: border-box;
    box-shadow: 0 0 20px #cccccc;
    position: relative;
    overflow: hidden;
    color: white;
}

.exit {
    font-size: 80px;
    font-weight: normal;
    font-family: n;
    transform: rotate(45deg);
    display: inline-block;
    line-height: 60px;
    vertical-align: top;
}

.exit-container {
    width: 60px;
    height: 60px;
    float: right;
    text-align: center;
    cursor: pointer;
}

.exit-container:hover::after {
    border: 0px;
    outline: 2px solid black;
}

.head {
    height: 60px;
    padding: 20px 30px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    z-index: 3;
}

/* cards */

.content {
    width: 400%;
    height: 100%;
    z-index: -1;
    transition: 0.5s ease all;
}

.card {
    width: 500px;
    padding: 0px 70px;
    box-sizing: border-box;
    float: left;
    height: 100%;
    display: flex; /* центрую тектовые элементы */
    align-items: center;
}

.card .text-container {
    margin-bottom: 50px; /*увеличиваю отступ снизу, чтоб было место кнопке */
}

.card h2 {
    opacity: 0.7;
}

.card h1::before {
    content: "New";
    display: inline-block;
    font-size: 16px;
    background-color: #51bc5d;
    font-weight: normal;
    padding: 2px 10px;
    margin-bottom: 10px;
}

/* все будет в js 
.first {
    background-color: #253352
}

.second {
    background-color: #208f34;
}

.third {
    background-color: #1484e1;
}

.fouth {
    background-color: #1c899c;
}


/* input */

input {
    display: none;
}

.card button {
    background-color: white;
    border: 0;
    padding: 10px 20px;
    color: #51bc5d;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    display: block;
    font-size: 18px;
}

.card button:hover {
    color: black;
}
/* кнопки назад вперед */

.next {
    width: 50px;
    height: 100px;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    position: absolute;
    z-index: 3;
    display: inline-block;
    top: 215px;
}

.next div {
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.forward {
    right: 0;
}

.backward {
    left: 0;
}

.backward div {
    transform: translateX(10px) rotate(225deg);
}

.forward div {
    transform: translateX(-5px) rotate(45deg); 
}

/**/

.footer {
    position: absolute;
    color: white;
    width: 100%;
    height: 40px;
    bottom: 0;
    font-size: 90px;
    text-align: center;
    line-height: 0px;
    /* почему-то между созданными в js нет word-spacing, а есть какой-то другой пробел (каждый label созданный в html считаеться отдельным словом, а созданные в js являються отдельными буквави) */
    word-spacing: -25px;
    z-index: 3;
}

label {
    cursor: pointer;
    transition: 0.5s ease all;
    /* поэтому пришлось добавить маргин */
    margin: 0px 10px ;
}

#btn-1:checked ~ .footer label[for="btn-1"],
#btn-2:checked ~ .footer label[for="btn-2"],
#btn-3:checked ~ .footer label[for="btn-3"],
#btn-4:checked ~ .footer label[for="btn-4"],
#btn-5:checked ~ .footer label[for="btn-5"],
#btn-6:checked ~ .footer label[for="btn-6"],
#btn-7:checked ~ .footer label[for="btn-7"],
#btn-8:checked ~ .footer label[for="btn-8"]{
    color: #51bc5d;
}

#btn-1:checked ~ .content {
    transform: translateX(0px);
}

#btn-2:checked ~ .content {
    transform: translateX(-500px);
}

#btn-3:checked ~ .content {
    transform: translateX(-1000px);
}

#btn-4:checked ~ .content {
    transform: translateX(-1500px);
}

#btn-5:checked ~ .content {
    transform: translateX(-2000px);
}

#btn-6:checked ~ .content {
    transform: translateX(-2500px);
}

#btn-7:checked ~ .content {
    transform: translateX(-3000px);
}

#btn-8:checked ~ .content {
    transform: translateX(-3150px);
}

/* editor */

.none {
    display: none;
}

.editor-container {
    text-align: center;
}

form {
    border: 1px solid red;
    height: 100px;
}

#text {
    width: 10px;
}