body {
    font-family: "Arial";
    background-color: white;
    padding: 0;
    margin: 0;
}

.card-container {
    width: 450px;
    height: 530px;
    background-color: green;
    margin: 3% auto;    
    box-sizing: border-box;
    box-shadow: 0 0 20px #cccccc;
    position: relative;
    overflow: hidden;
    color: white;
}

.exit {
    font-size: 80px;
    font-weight: normal;
    font-family: n;
    transform: rotate(45deg);
    display: inline-block;
    line-height: 60px;
    vertical-align: top;
}

.exit-container {
    width: 60px;
    height: 60px;
    float: right;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.exit-container:hover::before {
    /*outline: 2px solid black;
    background-color: black;
    box-shadow: inset 0px 0px 50px 1px black; */
    display: block;
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    opacity: 0.3;
    background-color: black;
}

.exit-container:hover::after {
    outline: 2px solid black;
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    content: "";
    top: 0;
    opacity: 0.5;
}

.head {
    height: 60px;
    padding: 20px 30px;
    position: absolute;
    width: 450px;
    box-sizing: border-box;
    top: 0;
    z-index: 10;
}

/* cards */

.content {
    width: 400%;
    height: 100%;
    z-index: -1;
    transition: 0.5s ease all;
}

.card {
    width: 450px;
    height: 100%;
    padding: 150px 30px;
    box-sizing: border-box;
    float: left;
}

.card h2 {
    opacity: 0.7;
}

.card h1::before {
    content: "New";
    display: inline-block;
    font-size: 16px;
    background-color: #51bc5d;
    /width: 33px;
    font-weight: normal;
    padding: 2px 10px;
    margin-bottom: 10px;
}

.first {
    background-color: #253352
}

.second {
    background-color: #208f34;
}

.third {
    background-color: #1484e1;
}

.fouth {
    background-color: #1c899c;
}

/* input */

input {
    display: none;
}

.footer {
    position: absolute;
    color: white;
    width: 100%;
    height: 40px;
    bottom: 0;
    font-size: 90px;
    text-align: center;
    line-height: 20px;
    /* почему-то между созданными в js нет word-spacing, а есть какой-то другой пробел */
    word-spacing: -25px;
}

label {
    cursor: pointer;
    transition: 0.5s ease all;
    /* поэтому пришлось добавить маргин */
    margin: 0px 10px ;
}

#btn-1:checked ~ .footer label[for="btn-1"],
#btn-2:checked ~ .footer label[for="btn-2"],
#btn-3:checked ~ .footer label[for="btn-3"],
#btn-4:checked ~ .footer label[for="btn-4"],
#btn-5:checked ~ .footer label[for="btn-5"],
#btn-6:checked ~ .footer label[for="btn-6"]{
    color: #51bc5d;
}

#btn-1:checked ~ .content {
    transform: translateX(0px);
}

#btn-2:checked ~ .content {
    transform: translateX(-450px);
}

#btn-3:checked ~ .content {
    transform: translateX(-900px);
}

#btn-4:checked ~ .content {
    transform: translateX(-1350px);
}

#btn-5:checked ~ .content {
    transform: translateX(-1800px);
}

#btn-6:checked ~ .content {
    transform: translateX(-2250px);
}

/* editor */

.none {
    display: none;
}

.editor-container {
    text-align: center;
}

form {
    border: 1px solid red;
    height: 100px;
}

#text {
    width: 10px;
}